<template name="NotesEdit">
    <div class="notes notes-edit">
        <table class="form-table">
            <tr>
                <td class="label notes-label"><label class="form-label" for="ta-{{ noteId }}">{{ i18n key="ext_notes.panel.label_label" }}</label></td>
                <td class="ca-w100">
                    <textarea class="form-control" type="text" id="ta-{{ noteId }}" placeholder="{{ i18n key="ext_notes.panel.label_ph" }}">
                        {{ notes }}
                    </textarea>
                </td>
            </tr>
        </table>
    </div>
</template>
